<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Openlibrary Search</title>
  <link rel="stylesheet" href="/bootstrap.min.css">
</head>
<body>
<div class="container">
  <div class="row">
    <div class="column">
      <h1>Book Search</h1>
      <form action="/search"
            method="GET">
        <div class="input-group mb-3">
          <input type="text" class='form-control' name="searchTitle" id="searchTitle"
                 placeholder="Search books by title" required>
          <button type="submit" class="btn btn-primary">Search</button>
        </div>
      </form>
    </div>
  </div>
</div>

</body>
</html>